<header>
<div class="header-inner">
<div class="logo">
<h1>Header</h1>
</div><!-- /.logo -->
<nav id="nav-area">
<ul>
<li><a href="/sample/barbajs-1.html">page-1</a></li>
<li><a href="/sample/barbajs-2.html">page-2</a></li>
<li><a href="/sample/barbajs-3.html">page-3</a></li>
</ul>
</nav><!--/.nav-area-->
</div><!-- /.header-inner -->
</header>

<div id="barba-wrapper" aria-live="polite">
<div class="barba-container">
<div class="inner page-1">
<div class="content">
<h2>This is page-1</h2>
<ul>
<li><a href="/sample/barbajs-2.html">page-2</a></li>
<li><a href="/sample/barbajs-3.html">page-3</a></li>
</ul>
</div><!-- / .content -->
</div><!-- / .inner -->
</div><!-- / .barba-container -->
</div><!-- / #barba-wrapper -->
