<div class="main main-fc-content">
  <% if request.path != "/fc_contents/index/44" %>
    <header class="site-header flex flex--bet">
    <nav class="gnav">
      <ul class="gnav__menu flex flex--bet">
        <li class="gnav__menu__item">
          <h3 class="gnav__menu__item__link"><%= @post.fc_name %><%= link_to '戻る', :back %></h3>
        </li>
      </ul>
    </nav>
    </header>
  <% else %>
    <header class="site-header flex flex--bet">
    <nav class="gnav">
      <ul class="gnav__menu flex flex--bet">
        <li class="gnav__menu__item">
          <h3 class="gnav__menu__item__link">芋あきらの部屋<%= link_to '戻る', :back %></h3>
        </li>
      </ul>
    </nav>
    </header>
  <% end %>
  <script type="text/javascript">
    $(function() {
      var $win = $(window),
        $header = $('header'),
        headerHeight = $header.outerHeight(),
        startPos = 0;

      $win.on('load scroll', function() {
        var value = $(this).scrollTop();
          if ( value > startPos && value > headerHeight ) {
            $header.css('top', '-' + headerHeight + 'px');
          } else {
            $header.css('top', '0');
          }
        startPos = value;
      });
    });
  </script>

  <!-- _contents.html.erbのデータを持ってきている -->
  <div id="contents">
    <%= render ("contents") %>
  </div>


</div>
