
<!-- @post.idは現在のfc.idのこと -->
<%= form_tag("/fc_content/create/#{@post.id}") do %>
<!-- <button class="btn btn-color-blue btn-size-large"> -->
  <input class="btn btn-color-blue btn-size-large" type="submit" value="投稿する">
<!-- </button> -->
<!-- validatesを設定しているのにエラー文が表示されない -->
<% if @post.errors.any? %>
<% @post.errors.full_messages.each do |message| %>
<%= message %>
 <% end %>
<% end %>
  <!-- コンテンツにタイトルいらない件 -->
  <!-- <input name="content_title" placeholder="タイトル" type="text"> -->

  <textarea name="content_body" placeholder="君はサイコーすぎる！！なんでもいいからまずは投稿しよう！" type="text" class="textbox"></textarea>


<% end %>
