<div class="show-content-container">
  <div class="flex">
    <p class="show-content-name">ユーザー：<%= @content.user_id %></p>
    <p class="link-back"><%= link_to '戻る', :back %></p>
  </div>

  <p class="show-content-body"><%= @content.content_body %></p>
  <p class="created-at"><%= @content.created_at.strftime('%Y/%m/%d %H:%M') %></p>

</div>

<div class="snap-drawers">
            <div class="snap-drawer snap-drawer-right">
                    <!-- メニューの部分 -->
                    <ul>
                        <li>テスト</li>
                        <li>テスト</li>
                        <li>テスト</li>
                        <li>テスト</li>
                        <li>テスト</li>
                        <li>テスト</li>
                        <li>テスト</li>
                        <li>テスト</li>
                    </ul>
            </div>
</div>

<div id="content" class="snap-content">
  <!-- ドロワーメニューを開くボタン -->
  <a href="#" id="open-right">ドロワーメニュー</a>
  <!-- コンテンツ部分 -->
</div>
<script type="text/javascript">
// 基本的な記述です。コンテンツ部分のID名を書いておきましょう。
var snapper = new Snap({
  element: document.getElementById('content')
});

// 以下はフリックやドラッグだけでなく、ボタンでも開いたり閉じたりできるようにする記述です。
var addEvent = function addEvent(element, eventName, func) {
  if (element.addEventListener) {
      return element.addEventListener(eventName, func, false);
  } else if (element.attachEvent) {
      return element.attachEvent("on" + eventName, func);
  }
};

// ボタンのID名と揃えておきましょう。
addEvent(document.getElementById('open-right'), 'click', function(){
  snapper.open('right');
});
</script>
