
<%= form_tag("/home/create", {multipart: true}) do %>
<input type="submit" value="これで完成！" class="btn btn-color-blue btn-size-large"></input>

  <p>ファンクラブのヘッダー画像(必須)</p>
  <!-- fileボタンはcss書くの難しいから保留 -->
  <input name="post_image" type="file">
  <p>ファンクラブ名(必須)</p>
  <textarea class="textbox-short" name="fc_name" type="text" placeholder="ファンクラブ名を入力してね♡"></textarea>
  <p>ファンクラブについて(必須)</p>
  <textarea class="textbox" name="content" type="text" placeholder="ファンクラブについて詳しく書いてね♡"></textarea>
<% end %>
