<div class="setting main">
  <h3>設定ページ</h3>
  <table class="table-setting">
    <tr>
      <td><%= link_to 'ファンクラブを作る', home_new_fc_path %></td>
      <td><%= link_to 'アカウント編集', "/account/#{current_user.id}/edit" %></td>
      <td><%= link_to '加入済みファンクラブ', "/#{current_user.id}/enters" %></td>
    </tr>
    <tr>
      <td>お問い合わせ</td>
      <td>その他</td> <!-- ここに利用規約、個人情報保護方針、特商法に基づく表記、退会とかを書く -->
      <td></td>
    </tr>
  </table>
</div>
