<% @enters.each do |enter|%>
      <!-- 変数postを定義してください -->
      <% post = Post.find_by(id: enter.post_id)%>

      <section class="card">
        <div class="card-img-parent">
          <img class="card-img" src="<%= "/post_images/#{post.id}.jpg" %>" alt="">
        </div>
        <div class="card-title">
          <%= link_to(post.fc_name, "/#{post.id}/show_fc") %>
        </div>
      </section>
    <!-- each文のendを追加してください -->
<% end%>
