/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-social
 *= require font-awesome
 */

@import "font-awesome.css";
// @import "swiper.scss";


 /* ここから共通レイアウト */
 * {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  padding: 80px 0;
  max-width: 500px;
  margin: 0 auto;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  color: #333333;
}


a {
  text-decoration: none;
  color: #333333;
  font-size: 1.4rem;
  /* display: block; */
}

 h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  background-color: #F4F5F7;
  margin: 0 auto;
  /* padding-top: 40px; */
  -webkit-overflow-scrolling: touch;
  font-size: 1.4rem;
  color: #333333;
  overflow: scroll;
  max-width: 500px;

}

.notice {
  z-index: 10000;
}

.alert {
  z-index: 100000;
}
.center {
  text-align: center;
}

.field {
  text-align: center;
  margin: 10px auto;
}

.text-caution {
  color: #767676;
  font-size: 1.2rem;
  text-align: center;
}

.parent {
  position: relative;
}

.heart-child {
  position: absolute;
  right: 4%;
  bottom: 7%;
}

.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}

.posts-show-item .fa {
  font-size: 1.6rem;
  margin-right: 3px;
}

table {
  color: #3C3C3C;
  margin: 20px auto;
}

table tr {
  text-align: center;
}

table td {
  font-size: 1.4rem;
  width: 50%;
}


/* ここまで共通レイアウト */

/* ここからヘッダーエリア */

.header-bottom {
  height: 50px;
  bottom: 0;
  position: relative;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 4px 0;
  display: flex;
  display: -webkit-flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 500px;
    margin: 0 auto;
}

.header-bottom ul {
  display: flex;
}

.header-bottom li {
  padding: 0 60px;
}


.site-header{
  background: rgba(255,255,255,0.8);
  padding: 20px;
  position: fixed;
  top: 0;
  transition: .5s;
  width: 100%;
  z-index: 999;
  max-width: 500px;
  margin: 0 auto;
  min-height: 64px;
}

.site-header h3 {
  position: absolute;
}

.site-header a {
  position: absolute;
  left: 300px;
  width: 30px;
}

.site-header.hide{
    transform: translateY(-100%);
}

.ChangeElem_Panel{
  display: none;
}

.btn-twitter a {
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
  line-height: 51px;
  // padding-top: 10px;
}

.btn-social {
  padding-left: 0!important;
  height: 50px!important;

}

.btn-social>:first-child {
  top: 8px!important;
  left: 20px!important;
  border: none!important;

}

.user-new {
  text-align: center;
  padding: 30px;
}
@media screen and (min-width:600px) and (max-width:959px) {

}

// 通常のパソコンに適用したいスタイル
@media screen and (min-width:960px) and (max-width:1280px) {

}

// 横幅の広いデスクトップに適用したいスタイル
@media screen and (min-width:1281px) {
}



/* いいねアニメーションの読み込み */
.icobutton {
  /* フォントサイズを大きく */
  font-size: 1.8em;
  /* 中心に表示 */
  top: 50%;
  left: 50%;
  transform:translate(-50%, -42%);
  background: transparent;
  border: none;

}
.icobutton:hover,
.icobutton:focus {
  /* hover、focus時の背景色を透明に */
  background: transparent;
}

.circle-button {
  position: absolute;
  bottom: 0;
  right: 3.5em;
  width: 70px;
  height: 70px;
  font-size: 1.5em;
  color: #fff;
  background: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.275);
  outline: none;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.circle-button:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.275);
}

.triangle {
  position: relative;
  height: 0;
  width: 0;
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
  border-top: 1.5em solid transparent;
  margin: 0 auto -1.75em auto;
  top: .6em;
  z-index: 20;
}

/*
 * Social Buttons for Bootstrap
 *
 * Copyright 2013-2016 Panayiotis Lipiridis
 * Licensed under the MIT License
 *
 * https://github.com/lipis/bootstrap-social
 */

.btn-social {
  position: relative;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  margin: 0 auto;
  > :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.btn-social-icon {
  @extend .btn-social;
  padding: 0;
  > :first-child {
    border: none;
    text-align: center;
    width: 100%!important;
  }
}
