
/* ===========================================
ここからスマホに適用するスタイルはグローバルに書く
============================================== */
/* ---------------------------
index.html.erb
--------------------------- */
.index-text-top {
  text-align: center;
  line-height: 4.5rem;
  background-color: rgb(7, 71, 166);
  color: rgb(222, 235, 255);
  align-items: center;
}
.card {
  margin: 30px auto;
  width: 80%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 4px 0;
  position: relative;
}

.card-title {
  z-index: 2;
  color: #333333;
}

.card .card-title a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-indent: -999px;
  z-index: 1;
}

.card-img-parent {
  position: relative;
}

.card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.card-img-child {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 3;
}

.card-content {
  padding: 20px;
}

.card-text {
  color: #333333;
  line-height: 1.5;
  font-size: 1.4rem;
}

/* ---------------------------
show_fc.html.erb
--------------------------- */
.fc_name {
  text-align: center;
  line-height: 4.5rem;
}
table {
  font-size: 1.4rem;
}
.show-fc-img {
  width: 80%;
  margin: 0 auto;
}

.table-show-fc {
  width: 85%;
  margin: 20px auto;
}

.table-show-fc th {
  padding-top: 20px;
}

.table-show-fc td {
  width: 50%;
}

.about-fc {
  border-bottom: 1px solid #cccccc;
}


// --共通のボタンスタイル--
.btn {
  border: 0;
	cursor: pointer;
	display: block;
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	text-align: center;
	text-decoration: none;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
  border-radius: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}
// --------------------
.edit-btn {
  position: absolute;
  bottom: 50px;
  right: 20px;
  border-radius: 50%;
  background-color: rgb(7, 71, 166);
  color: #deebff;
  padding: 10px;
}
.edit-btn a {
  color: #deebff;

}
.btn a {
  display: block;
}
.btn-color-danger {
  background-color: #fff;
}

.btn-color-danger a {
  color: #FF3030;
}

.btn-color-black {
  color: #2d3133;
  background: #fff;
}

.btn-light-green {
  background-color: #35EABD;
}

.btn-light-green a {
  color: #fff;
}

.btn-size-large{
	padding-top: 20px;
	padding-bottom: 20px;
	width: 60%;
  position: absolute;
  bottom: 60px;
  left: 20%;
  // position: fixed;
}

.btn-size-small {
  font-size: 1.4rem;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 30%;
  margin: 10px auto;
}

.pay-caution {
  position: absolute;
  bottom: 40px;
  left: 10%;
}

/* ---------------------------
profile.html.erb
--------------------------- */
.profile-image {
  width: 45px;
  height: 45px;
  margin: 2.0rem auto;
}

.profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #fff;
}

.profile-name {
  text-align: center;
}

.my-fc {
  width: 100%;
  margin: 20px auto;
}

.who-make-fc {
  text-align: center;
}
/* ---------------------------
setting.html.erb
--------------------------- */
.table-setting td {
  width: 30%;
  border: 1px solid #E9E9E9;
  padding: 45px 0;
}

/* ---------------------------
edit_account.html.erb
--------------------------- */
.edit-account li {
  border-bottom: 1px solid #E9E9E9;
  padding: 10px 0;
}

.edit-account li a {
  padding-left: 10px;
}


/* ===========================================
ここからタブレットに適用するスタイル
============================================== */
@media screen and (min-width:600px) and (max-width:959px) {
/* ---------------------------
show_fc.html.erb
--------------------------- */
.btn-large{
	font-size: 16px;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 70%;
  margin: 0 auto;
}

}

/* ===========================================
ここから通常のパソコンに適用したいスタイル
============================================== */
@media screen and (min-width:960px) and (max-width:1280px) {
/* ---------------------------
show_fc.html.erb
--------------------------- */
.btn-large{
	font-size: 16px;
	padding-top: 40px;
	padding-bottom: 40px;
	width: 70%;
  margin: 0 auto;
}

}

/* ===========================================
ここから横幅の広いデスクトップに適用したいスタイル
============================================== */
@media screen and (min-width:1281px) {
/* ---------------------------
show_fc.html.erb
--------------------------- */
.btn-large{
	font-size: 16px;
	padding-top: 40px;
	padding-bottom: 40px;
	width: 70%;
  margin: 0 auto;
}
}
